name: CI

on:
  push:
    branches:
      - "**"

jobs:
  quality:
    name: Quality
    runs-on: ubuntu-latest
    strategy:
      matrix:
        node-version: [18]

    steps:
      - uses: actions/checkout@v3
      - name: Setup pnpm
        uses: pnpm/action-setup@v2

      - name: Setup Node ${{ matrix.node-version }}
        uses: actions/setup-node@v3
        with:
          node-version: ${{ matrix.node-version }}
          cache: "pnpm"
          cache-dependency-path: "**/pnpm-lock.yaml"

      - name: Install dependencies
        run: pnpm install

      - name: Lint project
        run: pnpm run lint

      - name: Check outdated
        continue-on-error: true
        run: pnpm outdated -r --long --compatible
